.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 92px 50px;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  list-style: circle;
  gap: 32px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.header__link_active {
  text-decoration: none;
  pointer-events: none;
}

.header__logo {
  display: block;
  width: 136px;
  height: 110px;
  text-decoration: none;
}

.address {
  max-width: 240px;
  font-style: normal;
  line-height: 1.33;
}

.header__address {
  justify-self: end;
}

.cover {
  position: relative;
  padding: 172px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 125%;
  text-transform: uppercase;
  color: #fff;
  z-index: 0;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: #000;
  opacity: 0.6;
  z-index: -1;
}

.cover__title {
  margin-bottom: 134px;
  font-size: 100px;
  font-weight: bold;
  letter-spacing: 0.3em;
}

.aligned-text {
  display: block;
  line-height: 1;
  margin-bottom: 28px;
}

.aligned-text_center {
  text-align: center;
  margin-bottom: 20px;
}

.aligned-text_right {
  text-align: end;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 77px;
}

.cover__description-text {
  font-size: 22px;
  font-weight: normal;
  word-spacing: 0.85em;
}

.bet-button {
  padding: 12px 32px;
  border: 1px solid #fff;
  background-color: transparent;
  font-family: inherit;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  pointer-events: none;
}

.lots {
  padding: 181px 24px;
}

.lots__heading {
  margin: 0 0 27px 40px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 563px;
  flex-grow: 1;
}

.card-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  z-index: 0;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline 1px;
  text-underline-offset: 3px;
  line-height: 1.2;
}

.card__text {
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  display: block;
  margin: 30px 0 0 40px;
  font-size: 20px;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  justify-items: center;
  gap: 25px;
  padding: 0 24px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  padding: 62px 46px;
  background-color: #000;
  border-radius: 50%;
}

.about__logo-image {
  object-fit: contain;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
  margin: 100px 0;
}

.about__text-wrap {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.about__text {
  font-size: 20px;
  line-height: 1.2;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 178px 50px 90px;
  font-size: 18px;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__link {
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.footer__link_active {
  pointer-events: none;
}

.footer__link_active,
.footer__social-link {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
